/* Color Theme Swatches in Hex */
/* .petshop-1-hex { color: #23704E; }
.petshop-2-hex { color: #3B8C6E; }
.petshop-3-hex { color: #F28444; }
.petshop-4-hex { color: #F26241; }
.petshop-5-hex { color: #F24141; } */

/* Color Theme Swatches in RGBA */
/* .petshop-1-rgba { color: rgba(35, 112, 78, 1); }
.petshop-2-rgba { color: rgba(59, 140, 110, 1); }
.petshop-3-rgba { color: rgba(242, 132, 68, 1); }
.petshop-4-rgba { color: rgba(242, 98, 65, 1); }
.petshop-5-rgba { color: rgba(242, 65, 65, 1); } */